{% extends 'main.html' %}
{% block content %}
<div class="grid grid-cols-2 p-12 text-xl">
<div class="col span-1">
    <h1 class="text-3xl">{{ restaurant.name }} order:</h1>
</br>
    {% for items in order_items %}
        {% if items.quanity_for_order > 0 %}
            {{ items.quanity_for_order }}x
            {{ items }} {{ items.price }}
            <form method="post">
                {% csrf_token %}
                <button class="text-sm" name="remove-from-order" value="{{items.id}}">remove</button>
            </form>
        {% endif %}
        {% endfor %}      
</br>
    {% if order.combined_price > order.delivery_price %}
        Delivery: {{ order.delivery_price }}
</br>
    <span class="">Price: {{ order.combined_price }}</span>
    {% else %}
    Theres nothing in your order
    {% endif %}
</br>
<a href="">
    <div class="border border-stone-500 rounded-md m-2 p-3 w-20 h-15">
       Order
    </div>
</a>
</div>
<div class="col span-1">
<div id="map" style="height:400px; width: 600px;"></div>
    <script>
        
        
        let map;
        function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            
            center: { lat: {{ city_location.lat }}, lng:{{ city_location.lng }} },
            zoom: 12,
            mapId: "2552653184b96a3a",
            
        });
       
        const svgMarker = {
            path: "M-1.547 12l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM0 0q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
            fillColor: "blue",
            fillOpacity: 1,
            strokeWeight: 0,
            rotation: 0,
            scale: 2,
            anchor: new google.maps.Point(0, 20),
        };
        
        const restaurant_marker = new google.maps.Marker({
                    position: { lat: {{ restaurant_location.lat }}, lng: {{ restaurant_location.lng }} },
                    map: map,
                    icon: svgMarker
   
                })
        const home_marker = new google.maps.Marker({
                position: { lat: {{ user_location.lat }}, lng: {{ user_location.lng }} },
                map: map,
                icon: svgMarker
   
            })
        var pathBetween = new google.maps.Polyline({
            path: [restaurant_marker.position,home_marker.position],
            strokeColor: 'black',
            strokeWeight: 3
            });
            pathBetween.setMap(map);
        
        }
        
        window.initMap = initMap;
    </script>
    distance: {{ calculate_distance }}
</br>
    time: {{ calculate_duration }}

</div>
</div>

{% endblock content %}