{% extends 'main.html' %}
{% block content %}
<div class="h-auto">
    <div></div>
    <div class="main">
        {% for restaurant in restaurants %}
            <div class="box-border h-32 w-45 p-3 border-4 mb-4 m-3 shadow-lg border-slate-500">
                <h2 class="text-xl">{{ restaurant.name }}</h2>
                <small>{{ restaurant.location }}</small>
                <br>
                <br>
                <a href="{% url 'restaurant' restaurant.id %}">Check</a>
            
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock content %}