{% extends 'main.html' %}
{% block content %}
<div class="text-5xl text-center">Orders</div>
<div class="grid grid-cols-5">
    <div class="col-span-1"></div>
    <div class="col-span-3">
        {% for order in orders %}
            <h1 class="text-2xl p-3">{{ order }}</h1>
            <h3 class="text-xl">Items:</h3>
            <ul>
            {% for item in order_items %}
                {% if item.order == order %}
                    <li>{{ item }}</li>
                {% endif %}
            {% endfor %}
            </ul>
            <h3 class="text-xl"></h3>
            <p><b>Price:</b> {{ order.combined_price }} zl</p>
        {% endfor %}
    </div>
    <div class="col-span-1"></div>
</div>

{% endblock content %}